*{
    padding: 0px;
    margin: 0%;
  }
  html{
    scroll-behavior: smooth;
  }
  body{
    font-family: 'Roboto', sans-serif;
  }
  h1,h2,h3,h4,h5,h6{
    
  }
  .title-section{
    text-align: center;
  }
  .title{
    font-weight: bolder;
   
  }
  .logo-img{
    margin-left: 15px;
  }
  .nav-link{
    margin: 8px;
    color: white;
    border-radius: 5px;
    transition: .4s;
  }
  .nav-link:hover{
   
   background-color: rgba(0, 255, 255, 0.429);
   transform: scale(1.2);
  }
  #banner{
    text-align: center;
    background-color: #e8ded2;
    background-image: url(../photo/ee.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
  }
  .navbar{
  padding: 2% 10%;
    background-color: rgba(0, 0, 0, 0.129);
  }
  .navbar-menu{
   
  }
  .navbar-icon{
    color: white;
    font-size: 2rem;
  }
  .navbar-brand{
    height: 80px;
    border-radius: 50%;
  }
  .banner-contents{
    margin-top: 0%;
    padding-top: 20%;
  }
  .banner-contents h1{
    font-size: 3.5rem;
    color: rgb(255, 255, 255);
    background-color: rgba(59, 55, 73, 0.389);
    padding: 5px 10px;
    border-radius: 10px;
    font-family: 'Handlee', cursive;
    font-weight: bolder;
  }
  
  
  
  
  
  
  /*future start*/
  .features{
    padding: 5% 10%;
    background: #e8ded2;
  }
  .future-col{
    border-radius: 5px;
    margin: 10px 2px;
    padding: 15px;
    border: 2px solid pink;
    transition: .4s;
  }
  .future-col:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 20px black;
  }
  .icon-style{
    color: white;
    background-color: rgb(225, 86, 109);
    border-radius: 50%;
    border: 2px solid black;
    padding: 10px;
  }
  
  
  /*card section*/
  .card{
    padding: 10px;
  }
  #about-me{
  background:  #e8ded2;
  padding: 5% 8%;
  
  }
  
  #about-me p{
    margin: 0%;
    
  }
  /*achivment*/
  #achivment{
    padding: 5% 3%;
  }
  .chivements-bio{
    text-transform: capitalize;
  }
  #achivment p{
    margin: 10px 1px;
  }
  #achivment span{
    font-weight: bolder !important;
   
  }
  
  /*card*/
  #tutorials{
    padding: 5% 10%;
    background:  #86d4c7;
  }
  .card{
    transition: .4s;
    margin: 10px 1px;
    padding: 0px;
    
  }
  .card:hover{
    box-shadow: 5px 3px 10px black;
  transform: scale(1.08);
    
  }
  .card-body{
    background-color: gray;
    text-align: justify;
  }
  /*carousel Example*/
  #feedback{
    background-color: #d8b487;
    margin: 0px 2.8%;
    
  }
  .carousel-inner{
    padding: 4% 15%;
  }
  .carousel-item{
    text-align: center;
    
  }
  .feed-img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
  }
  .carousel-title{
    margin-top: 100px;
    padding: 50px;
  }
  
  
  /*contact*/
  #contact{
    background:  #86d4c7;
  padding: 4% 10%;
  }
  .msg-btn{
   margin: 2% 40px;
  }